[Unit]
Description=Inke直播
After=network.target 

[Service]
ExecStart=changeme_path/changeme_dir/changeme_dir_live.sh
Type=forking
PrivateTmp=True
User=changeme_user

[Install]
WantedBy=multi-user.target
